html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

:root {

  /*typograghy*/
  --h1: 5rem;
  --h2: 2.369rem;
  --h3: 1.789rem;
  --p: 1rem;
}

h1 {
  margin-top: 6rem;
  margin-bottom: 2rem;
  font-size: var(--h1);
  font-family: 'Playfair Display', serif;
  font-style: oblique;
  letter-spacing: 0.5rem;
  text-align: center;
}

button {
  font-size: var(--h3);
  font-family: 'Lato', sans-serif;
  letter-spacing: 0.1rem;
  width: fit-content;
  margin: 0.5rem;
  padding: 0.5rem;
  border: none;
  background: none;
  margin: 0;
  padding: 0;
  text-decoration: underline;
}

.typeSelectors {
  margin: 2rem;
  margin-left: 1rem;
}

.priceSelectors {
  margin: 2rem;
  margin-left: 1.5rem;
}

.btnLabel {
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  font-size: var(--h2);
  letter-spacing: 0.1rem;
  margin-left: 1rem;
}

h2 {
  font-family: 'Playfair Display', serif;
  font-size: var(--h2);
  letter-spacing: 0.25rem;
  text-align: center;
  margin: 1rem;
}

#shopBtn {
  font-family: 'Lato', sans-serif;
  font-size: 2rem;
  text-align: center;
  letter-spacing: 0.1rem;
  border: none;
  background: none;
  margin: 0;
  padding: 0;
  text-decoration: underline;
}

img {
  width: 30rem;
  overflow: hidden;
  justify-content: center;
  display: inline-block;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}

#themeBtn {
  text-align: center;
}

#products {
  display: inline-block;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}

#productCard {
  width: 50rem;
  height: 50rem;
  background-color: rgb(158, 158, 200);
  margin: 2rem;
  padding: 1rem;
}

#outputText {
  font-size: 3rem;
}

.buttonsContainer {
  margin-left: 2rem;
}

.lightMode {
  background-color: aliceblue;
}

.darkMode {
  background-color: gray;
}