html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

:root {
  /*colours*/
  --lighestGrey: #F5F5F5;
  --lightGrey: #dedede;
  --darkGrey: #1F1F21;
  /*typograghy*/
  --h1: 5rem;
  --h2: 2.369rem;
  --h3: 1.789rem;
  --p: 2rem;
}

h1 {
  margin-top: 6rem;
  margin-bottom: 2rem;
  font-size: var(--h1);
  font-family: 'Playfair Display', serif;
  font-style: oblique;
  letter-spacing: 0.5rem;
  text-align: center;
}

button {
  font-size: var(--h3);
  font-family: 'Lato', sans-serif;
  letter-spacing: 0.1rem;
  width: fit-content;
  border: none;
  background: none;
  margin: 0;
  padding: 0;
  text-decoration: underline;
}

.typeSelectors {
  margin: 2rem;
  margin-left: 1rem;
}

.priceSelectors {
  margin: 2rem;
  margin-left: 1.5rem;
}

.btnLabel {
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  font-size: var(--h2);
  letter-spacing: 0.1rem;
  margin-left: 1rem;
}

h2 {
  font-family: 'Playfair Display', serif;
  font-size: var(--h2);
  letter-spacing: 0.2rem;
  text-align: center;
  margin: 1rem;
}

#shopBtn {
  font-family: 'Lato', sans-serif;
  font-size: 2rem;
  text-align: center;
  letter-spacing: 0.1rem;
  border: none;
  background: none;
  padding: 0;
  text-decoration: underline;
  justify-content: center;
}

img {
  width: 35rem;
  display: block;
  margin: auto;
  margin-top: 1rem;
}

#themeBtn {
  text-align: center;
}

p {
  font-family: 'Lato', sans-serif;
  font-size: var(--p);
}

#products {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}

#productCard {
  width: 40rem;
  height: 60rem;
  background-color: #dddddd;
  margin: 2rem;
  padding: 1rem;
}

#outputText {
  margin-left: 1.8rem;
}

.buttonsContainer {
  margin-left: 4rem;
}

.lightMode {
  background-color: var(--lighestGrey);
}

.darkMode {
  background-color: var(--darkGrey);
}