html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

:root {
  /*colours*/
  --lighestGrey: #F5F5F5;
  --lightGrey: #dedede;
  --darkGrey: #1F1F21;
  --black: #000;
  /*typograghy*/
  --h1: 5rem;
  --h2: 2.369rem;
  --h3: 1.789rem;
  --p: 2rem;
}

.container {
  background-color: var(---background);
}

.top {
  height: 6rem;
  color: var(---background);
}

.lightMode {
  ---background: #F5F5F5;
  ---text: #1F1F21;
  --card: #DEDEDE;
}

.darkMode {
  ---background: #1F1F21;
  ---text: #F5F5F5;
  --card: #000;
}

h1 {
  font-size: var(--h1);
  font-family: 'Playfair Display', serif;
  font-style: oblique;
  letter-spacing: 0.5rem;
  text-align: center;
  color: var(---text);
  margin-bottom: 2rem;
}

button {
  font-size: var(--h3);
  font-family: 'Lato', sans-serif;
  color: var(---text);
  letter-spacing: 0.1rem;
  width: fit-content;
  border: none;
  background: none;
  margin: 0;
  padding: 0;
  text-decoration: underline;
}

.typeSelectors {
  margin: 2rem;
  margin-left: 1rem;
}

.priceSelectors {
  margin: 2rem;
  margin-left: 1.5rem;
}

.btnLabel {
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  font-size: var(--h2);
  color: var(---text);
  letter-spacing: 0.1rem;
  margin-left: 1rem;
}

h2 {
  font-family: 'Playfair Display', serif;
  font-size: var(--h2);
  color: var(---text);
  letter-spacing: 0.2rem;
  text-align: center;
  margin: 1.8rem;

}

#shopBtn {
  font-family: 'Lato', sans-serif;
  font-size: 2rem;
  text-align: center;
  letter-spacing: 0.1rem;
  border: none;
  background: none;
  padding: 0;
  text-decoration: underline;
  justify-content: center;
  display: block;
  margin: 0 auto;

}

img {
  width: 35rem;
  display: block;
  margin: auto;
  margin-top: 1rem;
}

#themeBtn {
  text-align: center;
}

p {
  font-family: 'Lato', sans-serif;
  font-size: var(--p);
  color: var(---text);
}

#products {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}

#productCard {
  width: 40rem;
  height: 58rem;
  background-color: var(--card);
  margin: 2rem;
  padding: 1rem;
}

#outputText {
  margin-left: 1.8rem;
  margin-right: 1.8rem;
  margin-bottom: 1rem;
}

.buttonsContainer {
  margin-left: 4rem;
}





/*https://medium.com/@haxzie/dark-and-light-theme-switcher-using-css-variables-and-pure-javascript-zocada-dd0059d72fa2*/

/*https://medium.com/@amyabafor013/how-to-create-different-color-themes-with-css-and-javascript-d2ff1e66ce08*/